@import url('https://fonts.googleapis.com/css?family=Barrio');

body {
    margin:0;
    padding:0;
}

#bg {
    height:700px;
    width:1250px;
    margin:0px;
    padding:0px;
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
    
}

#info {
    font-family: 'Barrio', cursive;
    font-size:10em;
    letter-spacing: 15px;
    padding:0;
    fill:#000000;
    z-index: 0;
}

#masked {
    mask:url("#maskLayer");
}

#shapes {
    height:100%;
    width: 80%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#product {
    width:30%;
    position: absolute;
    top:72%;
    left:50%;
    transform: translate(-50%,-50%);
}

#btn{
    height:40px;
    width: 200px;
    background-color:#15171f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:white;
    letter-spacing: 1px;
    text-align: center;
    line-height: 40px;
    border: none;
    outline: none;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}



